.App-header {
  /* max-height: 10vh; */
  /* background: rgb(255, 0, 0); */
}

.header-container {
}

.App-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-footer {
  font-size: 10px;
}

.partyConfigurator {
  background-color: white;
}
