.App {
  text-align: center;
  display : flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(48, 44, 44);
  color: #FFFFFF;
}

.App > * {
  padding: 20px;
}

/* background: #040F16; */
